{% extends 'base.html' %} {% load static %}
{% block SEO %}
  <title>Our Scholarship | Tech Diversity</title>
  <meta name="description" content="Our Inclusive Scholarship Program aims to break down barriers and create pathways for individuals from underrepresented backgrounds to pursue successful careers in technology." />
{% endblock SEO %}

{% block content %}

<section class="heading_sec pt-80 pb-80" style="background-image: url('{% static "img/background-scholarship.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading_info">
                    <div class="title">
                        <h2 class="text-white">
                            TECH DIVERSITY PROJECT
                            <br />
                            SCHOLARSHIP
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="scholarship_sec pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>At The Tech Diversity Project we believe that technology is a powerful tool for change and that everyone should have the opportunity to explore and excel in the tech industry. Our Inclusive Scholarship Program aims to break down barriers and create pathways for individuals from underrepresented backgrounds to pursue successful careers in technology. By providing financial support for tuition, textbooks, and other related expenses, we are committed to fostering a more diverse and equitable tech workforce.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h2>Program Overview:</h2>
                </div>
                <p>The Inclusive Scholarship Program at [Your Company Name] has been specifically designed to support individuals from underrepresented groups who are passionate about pursuing a career in technology. The program is open to, but not limited to, individuals who identify as:</p>
                <ul class="list-unstyled check_list">
                    <li>Black or African American</li>
                    <li>Women</li>
                    <li>People with disabilities</li>
                    <li>Members of the LGBTQ+ community</li>
                    <li>Indigenous Peoples or Native Americans</li>
                    <li>Hispanic or Latinx</li>
                    <li>Veterans</li>
                    <li>First-generation college students</li>
                    <li>Individuals from low-income backgrounds</li>
                </ul>
                <p>Our goal is to help eliminate the systemic barriers these individuals face in accessing tech education and training, providing them with the tools and resources they need to thrive in the industry.</p>
            </div>
        </div>
    </div>
</section>

<section class="scholarship_block_sec pb-80">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="benefit_block">
                            <h4 class="font-weight-bold">Scholarship Benefits:</h4>
                            <p>Successful applicants of the Inclusive Scholarship Program will receive:</p>
                            <ul class="list-unstyled check_list">
                                <li>Full or partial coverage of tuition fees for a tech-related program or course</li>
                                <li>Financial assistance for purchasing textbooks and course materials</li>
                                <li>Access to mentorship and networking opportunities with professionals in the industry</li>
                                <li>Opportunities for internships and job placements upon successful completion of the program</li>
                                <li>Ongoing support and resources to ensure academic success and personal growth</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="eligible_block">
                            <h4 class="font-weight-bold">Eligibility Criteria:</h4>
                            <p>To be eligible for the Inclusive Scholarship Program, applicants must:</p>
                            <ul class="list-unstyled check_list">
                                <li>Be a member of one or more underrepresented groups as listed above</li>
                                <li>Demonstrate financial need and the potential to benefit from the scholarship</li>
                                <li>Be enrolling or currently enrolled in an accredited tech-related program, such as computer science, software development, data science, or information technology</li>
                                <li>Have a strong passion for technology and a commitment to pursuing a career in the tech industry</li>
                                <li>Submit a completed application, including a personal statement, academic transcripts, and letters of recommendation (if required)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq_sec pb-80 pt-80 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-3">
                <div class="title">
                    <h2>Frequently asked questions about scholarships</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Are scholarships taxable?</button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">Since scholarships won through Bold.org are sent directly to the university you are attending, scholarship money is not considered income and therefore is not taxable.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header px-0" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How to get a full-tuition scholarship?</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">Full-ride scholarships aren't as easy to come by, but check the scholarships through the school you are planning to attend to see what kind they give. While there are some high-value ones available on Bold.org, such as the BTL Athletes Scholarship, most individual scholarships won't cover your full tuition, so the best option is to apply to many at the same time. Combining them you may be able to cover all of your college costs, but it may not be exactly like the traditional full-ride scholarship you think of. Click here for our list of full-tuition scholarshipsthat cover the average tuition of a 4-year degree.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header px-0" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to write a scholarship essay</button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">Writing scholarship essays is a huge part of applying for financial aid. The better essays you write, the more likely you are to win financial aid through scholarships. See Bold.org's Best Tips for Writing a Scholarship Essay for suggestions on how to make your scholarship essays better.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="scholarship_sec bg-light pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">
                    <h2>Application Process:</h2>
                </div>
                <p>The application process for the Inclusive Scholarship Program involves the following steps:</p>
                <ul class="list-unstyled check_list">
                    <li>Review the eligibility criteria and gather the necessary documentation</li>
                    <li>Complete the online application form, which includes submitting a personal statement, academic transcripts, and any additional supporting documents</li>
                    <li>Await notification of your application status, which will be communicated via email within a specified time frame</li>
                    <li>If selected, participate in an interview with the scholarship committee</li>
                    <li>Successful applicants will be notified of their award and required to accept the scholarship terms and conditions</li>
                </ul>
                <p>Tech Diversity Project is proud to offer the Inclusive Scholarship Program, which supports our commitment to fostering a diverse and inclusive tech industry. By providing financial support and resources to underrepresented individuals, we are creating opportunities for innovation, growth, and positive change in the technology sector.</p>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#" class="btn btn-primary mt-2">Apply Now</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
