{% extends 'base.html' %} {% load static %} {% block SEO %}
<title>Our Mission | Tech Diversity</title>
<meta name="description" content="Our mission is to help people getting scholarship and their dream job so they can life their ideal life." />
{% endblock SEO %} {% block content %}

<section class="heading_sec pt-80 pb-80" style="background-image: url('{% static 'img/background-ourmission.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading_info">
                    <div class="title">
                        <h2 class="text-white">OUR MISSION</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_mission bg-warning pt-80 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 order-2 order-sm-1">
                <div class="mission_info">
                    <div class="title">
                        <p>Tech Diversity Project's mission is to foster a more diverse and inclusive tech industry by providing comprehensive resources, support, and opportunities to underrepresented individuals interested in pursuing careers in technology. We aim to empower tech professionals and entrepreneurs from marginalized communities, as well as the organizations that support them, through scholarships, a comprehensive scholarship and job database, and virtual courses in entrepreneurship and programming. Our goal is to create a vibrant and equitable tech ecosystem where diverse talent is recognized, valued, and given the opportunities to excel. We believe that by promoting diversity and inclusion in tech, we can create more innovative, empathetic, and impactful technology that benefits everyone.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 order-1 order-sm-2">
                <div class="imgbox">
                    <img src="{% static 'img/group-around-laptop.jpg' %}" class="img-fluid mb-2" alt="mission" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inner_sec bg-secondary pt-80 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="imgbox">
                    <img src="{% static 'img/vision.jpg' %}" class="img-fluid mb-2" alt="mission" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mission_info">
                    <div class="title">
                        <h2>Our Vision</h2>
                    </div>
                    <p>Our vision at Tech Diversity Project is to create a future where the tech industry is a diverse and inclusive ecosystem that welcomes individuals from all backgrounds. We strive to empower underrepresented groups to pursue careers in tech by providing the resources and support they need to succeed. Our goal is to build a thriving tech community that celebrates diversity and values inclusivity, where innovation and empathy drive technological progress and benefit everyone.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="goals_sec pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title text-center">
                    <h2>Our Goals and Objectives</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul class="list-unstyled">
                    <li>To increase the number of underrepresented individuals pursuing careers in tech.</li>
                    <li>To increase the representation of underrepresented groups in the tech industry.</li>
                    <li>To create a vibrant and inclusive tech ecosystem that values diversity and promotes innovation.</li>
                    <li>To provide at least 100 scholarships to underrepresented individuals each year to pursue tech education and training.</li>
                    <li>To create and maintain a comprehensive scholarship and job database that connects underrepresented individuals with tech opportunities.</li>
                    <li>To provide at least 10 virtual courses in entrepreneurship and programming each year to empower underrepresented individuals with the skills they need to succeed in tech.</li>
                    <li>To partner with at least 20 organizations each year to provide resources, support, and opportunities to underrepresented individuals interested in pursuing tech careers.</li>
                    <li>To measure and track the impact of Tech Diversity Project's programs through regular reporting on key metrics such as scholarship recipients, job placements, and course completion rates.</li>
                    <li>To regularly evaluate and improve Tech Diversity Project's programs based on feedback from program participants, partners, and stakeholders.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
